body {
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: lightblue;
}

div#container {
    margin: 0 200px;
    text-align: center;
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
}

button {
    background-color: lightseagreen;
    border: 2px solid black;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin: 0 20px;
}

button:hover {
    background-color: lightgray;
    border: 2px solid lightseagreen;
}

div#score {
    display: flex;
    justify-content: center;
}

div#score h3 {
    margin: 20px;   
}




